* {
font-family: 'Times New Roman', Times, serif;
background-color: grey;
}

h1{
    background-color: black;
    color: white;
}
ul{
    background-color: black;
    color: green;
}
ol{
    color: green;
    background-color: black;
}
a{
    color: white;
    background-color: black;
}
li{
    background-color: black;
}